
[Unit]
Description=Kafka connect instance: {{ prj }}
Wants=network-online.target
After=autofs.service

[Service]
Type=forking
ExecStart=/{{ env }}/lib/ctl/{{ prj }}/bin/{{ prj }}_connect.sh -a start -s -e {{ env }}
ExecStop=/{{ env }}/lib/ctl/{{ prj }}/bin/{{ prj }}_connect.sh -a stop -s -e {{ env }}

SuccessExitStatus=0 143
WorkingDirectory={{ loc }}
Restart=always

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=telenet-{{ prj }}-connect

User={{ usr }}
Group={{ usr }}

[Install]
WantedBy=multi-user.target
